{% extends 'base.html.twig' %}

{% block title %}Réponse{% endblock %}

{% block body %}
<div class="container"> 
    <h1 class="center">Votre réponse</h1>
<br>
    {{ include('reponse/_form.html.twig') }}

    <a class="btn btn-info placeho" href="{{ path('message_index', {'id': app.user.id}) }}">Retour à vos messages</a>
</div>
{% endblock %}
