{% extends 'base.html.twig' %}

{% block title %}Nouveau message{% endblock %}

{% block body %}

{% if app.user %}
    <h1 class="center titre">Rédigez votre message</h1>
    <br>
    <div class="container"> 
        {{ include('message/_form.html.twig') }}

        <a class="btn btn-info placeho" href="{{ path('message_index', {'id': app.user.id}) }}">Vos messages</a>
    </div>
{% else %}
    <div class="container font center"> 
       <p class="titre">Vous devez être inscrit et connecté pour envoyer des messages.</p>

        <a class="btn btn-info placeho" href="{{ path('home') }}">Retour à l'accueil</a>
    </div>
{% endif %}
<script>document.getElementById('pas_vu').style.display ='block';</script>
{% endblock %}
