{% extends 'base.html.twig' %}

{% block title %}Affichage impossible{% endblock %}

{% block body %}
  <div class="container fluid">
        <h1 class="center">La page que vous demandez n'éxiste pas.</h1>
        <a class="btn btn-success" href=" {{ path('home')}}">retour à l'accueil</a>
  </div>
{% endblock %}